/*-----------------------*\
    VARIABLES
\*---------------------- */

/*---- Breaking Points ----*/

$x-small: 376px;
$small: 430px;
$medium: 768px;
$normal: 1200px;
$large: 1600px;

/*--- basic colors ---*/
$white: hsl(0, 0%, 100%);

/*--- Project colors ---*/
$color-primary: hsl(267,66%,60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);

/*--- Customized colors ---*/

$color-grey-95: hsl(0, 0%, 96%);
$color-grey-96: hsl(0, 0%, 96%);
$color-light-black: hsl(0, 0%, 21%);
$color-flag: hsl(165, 100%, 26%);
$color-light-purple: hsl(267, 100%, 96%);



