/*-----------------------*\
    VARIABLES
\*---------------------- */

/*---- Breaking Points ----*/
$small: 768px;
$normal: 1200px;
$large: 1600px;

/*--- Project colors ---*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/*--- Customized colors ---*/
$color-white: #fff;
$color-light-grey: #f6f6f6;
$color-light-black: #353535;
$color-flag: #008766;
$color-light-purple: #f5edff;




