/*-----------------------*\
    VARIABLES
\*---------------------- */

/*---- Breaking Points ----*/
$small: (min-width: 600px);
$medium: (min-width: 1000px);
$normal: (min-width: 1200px);
$large: (min-width: 1600px);

/*--- Project colors ---*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/*--- Customized colors ---*/
$color-white: #fff;

