/*-----------------------*\
    MAIN
\*---------------------- */

.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $small){
    flex-direction: row;
  }
}

/*---- explore ---- */

.explore{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 286px;
  background-color: $color-light-grey;
  @media screen and (min-width: $small){
    justify-content: center;
    height: 440px;
  }
  &__title{
    margin-top: 35px;
    font-size: 1.5em;
    text-align: center;
  }
  &__sub-title{
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
  }
  &__button{
    width: 218px;
    height: 50px;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 20px gray;
    background: linear-gradient(#e571DA, #a05adc);
    font-weight: 500;
    color: white;
  }
}

/*---- information ---- */

.information{
  width: 100%;
  height: 440px;
  padding: 50px 20px;
  @media screen and (min-width: $small){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  &__steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
  }
}

.step-card {
  display: flex;
  align-items: center;
  width: 325px;
  height: 75px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 5px 15px lightgray;
  background-color: #f6f6f6;
  &__number {
    position: relative;
    right: 12px;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    border-radius: 50px;
    background-color: $color-primary;
    color: white;
    text-align: center;
  }
  &__icon::before{
    margin-left: 8px;
    content: "\f3cd";
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
    font-weight: 700;
    color: grey;
  }
  &__text{
    margin-left: 28px;
  }
}

/*---- Restaurants ----*/

.restaurants{
  width: 100%;
  height: auto;
  padding: 50px 15px;
  background-color: $color-light-grey;
  &__title{
    margin-bottom: 25px;
    font-size: 1.5em;
  }
  &__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $small){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

/*---- Card ----*/

.card {
  width: 335px;
  height: 250px;
  margin: 20px 0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 15px $color-light-grey;
  &__image {
    position: relative;
    width: 100%;
    height: 175px;
    img{
      object-fit: cover;
    }
  }
  &__flag {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color:$color-tertiary;
    &::before{
      position: relative;
      top: 5px;
      content: "Nouveau";
      font-size: 15px;
      font-weight: 600;
      color: $color-flag;
    }
    &--hide {
      display: none;
    }
  }
  &__content {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #fff;
  }
  &__information {
    width: 100%;
    padding-left: 15px;
  }
  &__title{
    padding-top: 10px;
  }
  &__sub-title{
    padding-top: 5px;
    font-weight: 300;
  }
  &__like {
    position: absolute;
    top: 20px;
    right: 22px;
  }
  &__like::after {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 300;
  }
}


