@charset "UTF-8";
/*--------------------------------------*\
    Project name: OhMyFood
    Author: Adelino ARAUJO
\*------------------------------------- */
/*-----------------------*\
    VARIABLES
\*---------------------- */
/*---- Breaking Points ----*/
/*--- Project colors ---*/
/*--- Customized colors ---*/
/*-----------------------*\
    BODY
\*---------------------- */
body {
  margin: 0;
  padding: 0;
}

/*-----------------------*\
    CONTAINER
\*---------------------- */
.container {
  width: 375px;
  height: auto;
}

/*-----------------------*\
    RESET
\*---------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/*-----------------------*\
    TYPOGRAPHY
\*---------------------- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*-----------------------*\
    BUTTONS
\*---------------------- */
/*-----------------------*\
    FOOTER
\*-----------------------*/
/*-----------------------*\
    FORMS
\*---------------------- */
/*-----------------------*\
    GRIDS
\*---------------------- */
/*-----------------------*\
    HEADER
\*---------------------- */
.header {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__logo {
  width: 175px;
  height: 63px;
}
.banner__logo img {
  object-fit: contain;
}
.banner__information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
}
.banner__information::before {
  margin-right: 17px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.banner__location {
  font-weight: 500;
}

/*-----------------------*\
    MAIN
\*---------------------- */
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---- explore ---- */
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 286px;
  background-color: #f6f6f6;
}
.explore__title {
  margin-top: 35px;
  font-size: 1.5em;
  text-align: center;
}
.explore__sub-title {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}
.explore__button {
  width: 218px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 20px gray;
  background: linear-gradient(#e571DA, #a05adc);
  font-weight: 500;
  color: white;
}

/*---- information steps ---- */
.information {
  width: 100%;
  height: 440px;
  padding: 50px 20px;
}
.information__title {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.information__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
}

.step-card {
  display: flex;
  align-items: center;
  width: 325px;
  height: 75px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 5px 15px lightgray;
  background-color: #f6f6f6;
}
.step-card__number {
  position: relative;
  right: 12px;
  width: 25px;
  height: 25px;
  padding-top: 4px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  text-align: center;
}
.step-card__icon::before {
  margin-left: 8px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 22px;
  font-weight: 700;
  color: grey;
}
.step-card__text {
  margin-left: 28px;
}

/*---- Restaurants ----*/
.restaurants {
  width: 100%;
  height: auto;
  padding: 50px 15px;
  background-color: #f6f6f6;
}
.restaurants__title {
  margin-bottom: 25px;
  font-size: 1.5em;
}
.restaurants__restaurants-cards {
  display: flex;
  flex-direction: column;
}

/*---- Card ----*/
.card {
  width: 335px;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
}
.card__image {
  position: relative;
  width: 100%;
  height: 175px;
}
.card__flag {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
}
.card__flag::before {
  position: relative;
  top: 5px;
  content: "Nouveau";
  font-size: 15px;
  font-weight: 600;
  color: #008766;
}
.card__flag--hide {
  display: none;
}
.card__content {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #fff;
}
.card__information {
  width: 100%;
  padding-left: 15px;
}
.card__title {
  padding-top: 10px;
}
.card__sub-title {
  padding-top: 5px;
  font-weight: 300;
}
.card__like {
  position: absolute;
  top: 20px;
  right: 22px;
}
.card__like::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 300;
}

/*-----------------------*\
    NAVIGATION
\*---------------------- */
/*-----------------------*\
    HOME
\*---------------------- */
/*-----------------------*\
    MENU
\*---------------------- */

/*# sourceMappingURL=main.css.map */
