@keyframes heart-like {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1.4);
    transition-timing-function: ease-in;
  }
}

@keyframes show-menu {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

