@keyframes heart-like {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1.4);
    transition-timing-function: ease-in;
  }
}

@keyframes show-menu {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}

@keyframes pot-shake {
  50% {
    transform-origin: bottom right;
    transform: rotate(-20deg);
  }
  60% {
    transform-origin: top right;
    transform: translateY(-30px) rotate(10deg);
  }
}

@keyframes food-jump {
  0%{
    transform: rotate(180deg);
  }
  40%{
    transform: translateY(-100px) rotate(360deg);
  }
  80%{
    transform: rotate(460deg);
  }
}

@keyframes food-cooking {

  90%{

    opacity: 1;
  }
  95%{
    opacity: 0.7;
  }
  100%{
    transform: translateY(-100px);
    opacity: 0;
  }

}