/*-----------------------*\
    BUTTONS
\*---------------------- */

button{
  width: 218px;
  height: 50px;
  margin: 50px 0 90px 0;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 20px gray;
  background: linear-gradient(#e571DA, #a05adc);
  font-weight: 500;
  color: white;
}