@keyframes heart-like {
  0%{
    transform: scale(0);
  }

  25%{
    transform: scale(0.3);
  }

  50%{
    transform: scale(0.6);
  }

  75%{
    transform: scale(1);
  }

  85%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }
}